.navigation{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    padding: 0;
    margin:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation ul li{
    width: 150px;
    background-color: var(--second-color);
}

.navigation ul li:hover {
    background-color: var(--first-color);
}

.navigation a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    text-decoration: none;
    color: white;
}

.navigation a span{
    font-size: 20px;
    font-weight: 600;
}

